div img{
    width: 10vw;
    transition: transform 0.5s;
}

@keyframes rotate{
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}


.cardHolder{
    display: flex;
    align-items: center;
}   

.cardHolder.player{
    justify-content: flex-end;
    position: fixed;
    left: 100px;
    bottom: 300px;
}

.cardHolder.computer{
    justify-content: flex-end;
    position: fixed;
    right: 100px;
    top: 300px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 15px;
    animation-name: rotate;
    /*backface-visibility: hidden;*/

    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.cards.pc{
    background-image: linear-gradient(to  right,#2062ac,#083962);
    animation-duration: 5s;
}

.cards.user{
    background-image: linear-gradient(to  left,#ff4100, #942010);
    animation-duration: 3s;
}

.card{
    transition: transform 0.5s;
    transform-style: preserve-3d;
    position:relative;
    display: flex;
    align-self: center;
    text-align: center;
    margin: 5px;
    font-size: 2vw;
    cursor:pointer;
}

img.bottom{
    transform: rotateY(180deg) ;
    
}

img.top{
    backface-visibility: hidden;
    position: absolute;
}