body{
    background-image: linear-gradient(to bottom left,rgb(32, 148, 131),#317b52);
    background-repeat: no-repeat;
    overflow:hidden;
    height: 100vh;

}

#main{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    height: 98vh;
}

body:hover{
    background-color: rgb(118, 238, 13);
    width: 1px;
    height: 1px;
}

#main:hover{
    background-color: rgb(203, 30, 171);
    width: 1px;
    height: 1px;
}